:root {
    --text-size: 15px;
    --button-size: 70px;
    --button-position: 20px;

    --button-settings-size: 40px;
    --button-settings-margin: 30px;

    --box-padding: 50px;
    --box-margin-top-bottom: 50px;
    --box-margin-right-left: 10%;

    --box-case-margin-top-bottom: 50px;
    --box-case-margin-right-left: 15%;
    --case-size: 30px;

    --bgc-principal: #FFFAFA;
    --bgc-border: #000000;
    --bgc-special: #b8b8b8;
    --bgc-checked: #4CAF50;
    --bgc-not-checked: #cccccc;
    --bgc-text-color: #000000;
    --bgc-text-color-data: #0000FF;
    --menu-icon-path: url("../content/parametres.png");
}

body {
    background-color: var(--bgc-principal);
    height: 100vh;
    margin: 0;
    overflow: scroll; 
    padding-bottom: 70px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin: 5px;
    color: var(--bgc-text-color);
}

h1 { font-size: calc(var(--text-size) * 2.5); }
h2 { font-size: calc(var(--text-size) * 2); }
h3 { font-size: calc(var(--text-size) * 1.75); }
h4 { font-size: calc(var(--text-size) * 1.5); }
h5 { font-size: calc(var(--text-size) * 1.25); }
h6 { font-size: calc(var(--text-size) * 1.1); }

.coloredText {
    color: var(--bgc-text-color-data);
}

.menu-button {
    height: var(--button-size);
    width: var(--button-size);
    position: absolute;
    top: var(--button-position);
    left: var(--button-position);
    background-color: transparent;
    background-image: var(--menu-icon-path);
    background-size: cover;
    border: transparent;
}

.menu-button:hover {
    cursor: pointer;
}

.menu {
    height: auto;
    width: 60%;
    background-color: var(--bgc-principal);
    border-radius: 20px;
    border: 3px solid var(--bgc-border);
    box-shadow: 0px 0px 20px var(--bgc-border);
    
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: 2;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
}

.menu.showMenu {
    display: flex;
}

.menuSettings {
    display: flex;
    margin: 5px;
}

.menuSettings input {
    appearance: none;
    -webkit-appearance: none;
    height: var(--button-settings-size);
    width: var(--button-settings-size);
    margin-left: var(--button-settings-margin);
    border-radius: 8px;
    background-color: var(--bgc-not-checked);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.menuSettings input:checked {
    background-color: var(--bgc-checked);
    transform: scale(1.2);
}

.box {
    height: auto;
    width: auto;
    margin: var(--box-margin-top-bottom) var(--box-case-margin-right-left) var(--box-margin-top-bottom) var(--box-case-margin-right-left);
    background-color: var(--bgc-principal);
    border-radius: 20px;
    border-color: var(--bgc-border);
    border-width: 3px;
    border-style: solid;
    box-shadow: 0px 0px 20px var(--bgc-border);
    padding-top: var(--box-padding);
    position: relative;
}

#box-case {
    background-color: var(--bgc-principal);
    display: flex;
    gap: 10px;
    margin: var(--box-case-margin-top-bottom) var(--box-case-margin-right-left) var(--box-case-margin-top-bottom) var(--box-case-margin-right-left);
    max-width: 100%;
    flex-wrap: wrap;
}

.case {
    height: var(--case-size);
    width: var(--case-size);
    background-color: var(--bgc-principal);
    border-color: var(--bgc-border);
    border-width: 3px;
    border-style: solid;
    transition: transform 0.1s;
    box-shadow: 0px 0px 3px var(--bgc-border);
    border-radius: 10px;
}

.case:hover {
    transform: scale(1.3);
    box-shadow: 0px 0px 40px var(--bgc-border);
}

.special {
    background-color: var(--bgc-principal);
}

.active {
    background-color: var(--bgc-special);
}

.passer {
    background-color: var(--bgc-border);
}